<div class="container-fluid">
  <div id="imageCarousel" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
          REP:CarouselBtn
      </div>
      <div class="carousel-inner">
          REP:CarouselItem
      </button>
    </div>
  </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-route-tab" data-bs-toggle="tab" data-bs-target="#nav-route" type="button" role="tab" aria-controls="nav-route" aria-selected="true">산책로 설명</button>
          REP:TabBtn
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      REP:TabDiv
      </div>
</div>